<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopify Beauty</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">

    {{ content_for_header }}
  </head>
  <body>
    <section class="menu">
      <div class="menuScale">

        <a href="/">
          <img src="https://avaribeautyfranchise.com/wp-content/uploads/2022/12/AVARI_LOGOupdated_140x.png" alt="">
        </a>
        <ul class="center_ul">
          <li>
            <a href="#about">ABOUT US</a>
          </li>
          <li>
            <a href="#why">WHY US</a>
          </li>
          <li>
            <a href="#franchise">FRANCHISE PROCESS</a>
          </li>
        </ul>
        <ul class="right_ul">
          <li>
            <a href="#">CALL NOW</a>
          </li>
          <li>
            <a href="#contact">CONTACT US</a>
          </li>
        </ul>
        <div class="menu-icon">
          <div class="menu-icon-line"></div>
          <div class="menu-icon-line"></div>
          <div class="menu-icon-line"></div>
        </div>
      </div>
    </section>

    <section class="hero">
      <div class="hero_bg">
        <div class="max_width">
          <div class="hero_left">
            <h3>Join The</h3>
            <h2>ECO-FRIENDLY <br> BEAUTY MOVEMENT</h2>
            <p>BECOME A PART OF OUR SUCCESSFUL AND CARING COMMUNITY WITH A SUSTAINABLE CONCEPT IN A BOOMING INDUSTRY!
            </p>
            <button class="hero">
              <i class="fa-solid fa-angle-right"></i>
              LEARN MORE</button>
          </div>
          <div class="hero_right">
            <img src="https://cdn.shopify.com/s/files/1/0696/0611/3594/files/image-12.jpg?v=1677921129" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="mission">
      <div class="mission_left">
        <h2>THE MISSION OF AVARI BEAUTY</h2>
      </div>
      <div class="mission_right">
        <img src="https://avaribeautyfranchise.com/wp-content/uploads/2022/12/Logo.png" alt="">
      </div>
    </section>

    <section class="info">
      <p>As an indigenous-owned esthetician salon is to invoke the energy of beauty as an act of self-expression. To show
        the divinity of our existence through acts of self-care and ritual and to nourish the being with feelings of
                                                                                                                                                                              self-love through every service we offer and every product we make. We care for the Earth and we join the movement
                                                                                                                                                                              in honoring Her.</p>
      <p>Avari Beauty offers entrepreneurs everywhere a successful turnkey operation with honed techniques and equipment
        to succeed in local markets. As the pioneer of sustainable eyelash extensions, we are well-positioned for growth
                                                                                                                                                                              in the beauty and franchise industries. We offer a reasonable initial investment franchise concept and significant
                                                                                                                                                                              ROI in a short time period.</p>
      <p>Avari Beauty management has assembled the most experienced team of licensed beauty professionals in the
        Minneapolis-St. Paul region so that each customer can look and feel their best. Using streamlined systems and a
                                                                                                                                                                              proven operating model, we train franchisees to implement this personalized beauty approach with the highest level
                                                                                                                                                                              of care.</p>
      <button>
        <i class="fa-solid fa-angle-right"></i>
        LEARN MORE</button>
    </section>

    <section class="interest">
      <div class="interest_content">
        <h2 class="elementor-heading-title">ARE YOU INTERESTED</h2>
        <p class="elementor-element-p">
          In owning a successful and sustainable beauty business backed by strong support? Then this could be the
          profitable path for you!</p>
        <button>
          <i class="fa-solid fa-angle-right"></i>
          LEARN MORE</button>
      </div>
    </section>

    <section class="story" id="about">
      <div class="max_width">
        <div class="story_img">
          <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/da2.png" alt="">
        </div>
        <div class="story_text">
          <h4>The Story</h4>
          <h2>BEHIND AVARI BEAUTY</h2>
          <p>During a tough period after her son was born, Kari Tribble found comfort and healing in watching beauty
            tutorials on YouTube and finding ways to celebrate and appreciate her body for all that it had survived. Using
                                                                                                                                                                                                                                                                      self-care as a way to express herself helped her to get through those difficult times and reconnect with her
                                                                                                                                                                                                                                                                      body. In 2016, she decided to reactivate her esthetician license and offer services that would help others to
                                                                                                                                                                                                                                                                      reclaim their power, leading to the creation of Avari Beauty. She believes that owning a business and
                                                                                                                                                                                                                                                                      producing products should always require responsibility to the planet we inhabit. When you are a part of Avari
                                                                                                                                                                                                                                                                      Beauty, you are joining this movement to do your part to be better cohabitants and humans!</p>
          <button>
            <i class="fa-solid fa-angle-right"></i>
            LEARN MORE</button>
        </div>
      </div>
    </section>

    <section class="invest" id="why">
      <div class="invest_bg">
        <div class="invest_container">
          <div class="invest_left">
            <h4>Why Invest</h4>
            <h2>IN A BETTER FUTURE WITH AVARI BEAUTY</h2>
            <ul>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                We are indigenous, women, and LGBTQ-owned.</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                We focus on sustainability with our products whenever possible
                and aim to spread more earth-friendly
                                                                                                                                                                                                                                                                                                                                                            practices in our industry.</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                We are known for our services, products, and overall customer
                experience. We form long-term relationships
                                                                                                                                                                                                                                                                                                                                                            with our clients. They are our family.</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                We give back. A percentage of our product sales go toward
                charities to protect indigenous people, the
                                                                                                                                                                                                                                                                                                                                                            environment, and animals.</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                We provide superior service by offering top-notch beauty services
                in a safe environment with a friendly
                                                                                                                                                                                                                                                                                                                                                            staff of talented technicians.</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                We have established a successful location in White Bear Lake that
                has a strong following within the
                                                                                                                                                                                                                                                                                                                                                            community and has shown continued growth.</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                We provide a strong potential ROI with reasonable overhead, low
                start-up costs, and applicability in many
                                                                                                                                                                                                                                                                                                                                                            markets.</li>
            </ul>
          </div>
          <div class="invest_right">
            <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/d2ed1.png" alt="">
            <ul>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                We build supportive relationships with competitors, creating
                networking opportunities and serving the
                                                                                                                                                                                                                                                                                                                                                            community together.</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Our model is operationally simple and runs efficiently with high
                levels of service and repeat customers. A
                                                                                                                                                                                                                                                                                                                                                            licensed esthetician may be necessary, but a disciplined investor can run the business full-time.</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Our unique concept specializes in lashes, brows, and skin care
                and offers private-label products. This
                                                                                                                                                                                                                                                                                                                                                            niche model elevates our brand to be the authority in the industry when compared to other beauty salons.
              </li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                It’s easy to plug right into our systems and apply training for a
                short operational learning curve in
                                                                                                                                                                                                                                                                                                                                                            starting a successful business.</li>
            </ul>
            <button>
              <i class="fa-solid fa-angle-right"></i>
              LEARN MORE</button>
          </div>
        </div>
      </div>
    </section>

    <section class="process" id="franchise">
      <div class="process_left">
        <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/dddd.jpg" alt="">
      </div>
      <div class="process_right">
        <h6>Our Franchise</h6>
        <h3>PROCESS</h3>
        <div class="process_icons">
          <div class="icons">
            <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/icon-1-1536x1397-2.png" alt="">
            <span>
              <button>1</button>
              <h5>SAY HI!</h5>
              <p>So happy to hear from you! Begin our franchising process by completing and submitting a form to let us
                know you're interested.</p>
            </span>
          </div>

          <div class="icons">
            <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/team-2-1-1536x1397-2.png" alt="">
            <span>
              <button>2</button>
              <h5>MEET THE TEAM</h5>
              <p>Here we have a chance to chat and get to know each other better so we can find out if we could be a good
                franchising fit.</p>
            </span>
          </div>
          <div class="icons">
            <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/discover-1536x1397-2.png" alt="">
            <span>
              <button>3</button>
              <h5>DISCOVERY DAY</h5>
              <p>Now it’s time to come to our location and see the success of Avari Beauty firsthand and learn what our
                company culture is all about.</p>
            </span>
          </div>
          <div class="icons">
            <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/fdd-1536x1397-2.png" alt="">
            <span>
              <button>4</button>
              <h5>REVIEW THE FDD</h5>
              <p>Next we will send over our Financial Disclosure Document to review thoroughly before signing.</p>
            </span>
          </div>
          <div class="icons">
            <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/funding-1536x1397-2.png" alt="">
            <span>
              <button>5</button>
              <h5>APPLY FOR FUNDING</h5>
              <p>No matter how you're financing your Avari Beauty, it's time to apply for any capital you may need.</p>
            </span>
          </div>
          <div class="icons">
            <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/sign-1536x1397-2.png" alt="">
            <span>
              <button>6</button>
              <h5>SIGN ON THE DOTTED LINE</h5>
              <p>Once we send over our Financial Agreement, it’s official! Welcome to the Avari Beauty family.</p>
            </span>
          </div>
        </div>

        <div class="right_icons">
          <div class="iconss">
            <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/training-1536x1397-2.png" alt="">
            <span>
              <button>7</button>
              <h5>IT’S TRAINING TIME</h5>
              <p>We provide a comprehensive training program in three phases! Initial hands-on training at our
                headquarters in White Bear Lake, Minnesota, local on-site training during each franchisee’s initial
                                                                                                                                                                                                                                                                                                                                                              start-up, and ongoing support to ensure the quality of the franchise location services.</p>
            </span>
          </div>
          <button>
            <i class="fa-solid fa-angle-right"></i>
            LEARN MORE</button>
        </div>



      </div>
    </section>

    <section class="support">
      <div class="support_bg">
        <div class="max_width">
          <h3>How We</h3>
          <h2 class="elementor-heading-title">SUPPORT FRANCHISE PARTNERS</h2>
          <div class="support_steps">
            <div class="support_step">
              <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/discover-1536x1397-2.png" alt="">
              <h4>OPERATIONAL SUPPORT:</h4>
              <p>We provide ongoing training and support in new business development and lead generation through product
                development and industry expertise.</p>
            </div>
            <div class="support_step">
              <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/fdd-1536x1397-2.png" alt="">
              <h4>MARKETING SUPPORT</h4>
              <p>We help leverage our unique and recognizable brand by coordinating the development of advertising
                materials
                                                                                                                                                                                                                                                                                                                                                              and consumer marketing plans.</p>
            </div>
            <div class="support_step">
              <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/funding-1536x1397-2.png" alt="">
              <h4>BUSINESS DEVELOPMENT SUPPORT</h4>
              <p>We provide continued research methods to enhance profitability and continue to adapt the model to the
                current
                                                                                                                                                                                                                                                                                                                                                              marketplace on an ongoing basis.</p>
            </div>
            <div class="support_step">
              <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/sign-1536x1397-2.png" alt="">
              <h4>SITE SELECTION SUPPORT</h4>
              <p>We offer site selection services to handle negotiations and make sure franchise partners get the best
                possible lease structure.</p>
            </div>
            <div class="support_step">
              <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/training-1536x1397-2.png" alt="">
              <h4>PURCHASING SUPPORT</h4>
              <p>We negotiate quantity discounts for third-party items, help with all internal purchases, and produce
                in-house
                                                                                                                                                                                                                                                                                                                                                              beauty products as an additional revenue stream.</p>
            </div>
            <div class="support_step">
              <button>
                <i class="fa-solid fa-angle-right"></i>
                LEARN MORE</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="overview">
      <h2>FINANCIAL OVERVIEW</h2>
      <div class="max_width">
        <div class="overview_steps">
          <i class="fa-solid fa-building-columns"></i>
          <h3>$120,000</h3>
          <p>Estimated Minimum Initial Investment:</p>
        </div>
        <div class="overview_steps">
          <i class="fa-solid fa-vault"></i>
          <h3>$30,000</h3>
          <p>Franchise Fee</p>
        </div>
        <div class="overview_steps">
          <i class="fa-solid fa-money-check-dollar"></i>
          <h3>6%</h3>
          <p>of Gross Sales Royalty Fee</p>
        </div>
        <div class="overview_steps">
          <i class="fa-solid fa-money-bill-trend-up"></i>
          <h3>4%</h3>
          <p>of Gross Sales Local Advertising</p>
        </div>
        <div class="overview_steps">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          <h3>1%</h3>
          <p>of Gross Sales Corporate Marketing Fund</p>
        </div>
      </div>
    </section>

    <section class="faqs">

      <div class="faqs_bg">


        <div class="max_width">
          <div class="left_faq"></div>
          <div class="faq">
            <h1>FAQs</h1>
            <input
              type="checkbox"
              name=""
              id="q1">
            <label for="q1">
              <h3 class="q1">What Qualifications Do I Need?</h3>
            </label>
            <p class="a1">Targeted groups include sales professionals, aestheticians and cosmetologists, corporations or
              businesses
                                                                                                                                                                                                                                                                                                                  involved in the beauty industry, entrepreneurs and investors that see potential and growth in this market,
                                                                                                                                                                                                                                                                                                                  and
                                                                                                                                                                                                                                                                                                                  family teams who would like to start a business.</p>
            <input
              type="checkbox"
              name=""
              id="q2">
            <label for="q2">
              <h3 class="q2">Will I Have An Exclusive Territory?</h3>
            </label>
            <p class="a2">Yes! We offer exclusive territories to all of our franchisees based in a specifically defined
              area
                                                                                                                                                                                                                                                                                                                  documented
                                                                                                                                                                                                                                                                                                                  as a 50,000 to 100,000-population center and a 1-3 mile radius, depending on the density.</p>
          </div>

        </div>


      </div>

    </section>

    <section class="contact" id="contact">
      <div class="max_width">
        <div class="contact_form">
          <img src="https://cdn-icons-png.flaticon.com/512/3178/3178158.png" alt="">
          <h3>WE’RE SO GLAD YOU’RE <br> HERE!</h3>
          <small>Fill out the contact form and our team will be in touch as soon as <br> possible to talk about the next steps.
          </small>
          <form action="" method="POST">
            <input
              type="text"
              id="name"
              name="name"
              required
              placeholder="Your name:">
            <input
              type="email"
              id="email"
              name="email"
              required
              placeholder="Your email:">
            <input
              type="tel"
              id="phone"
              name="phone"
              required
              placeholder="Your phone:">
            <textarea
              id="message"
              name="message"
              required
              placeholder="Your message:"></textarea>
            <button type="submit">Send</button>
          </form>
        </div>
        <div class="contact_img">
          <img src="https://avaribeautyfranchise.com/wp-content/uploads/2023/01/d34.png" alt="">
        </div>
      </div>
    </section>

    <section class="download">
      <div class="download_bg">
        <div class="download_text">
          <h3>To Learn More About Our Franchising Process</h3>
          <h2>DOWNLOAD THE BROCHURE</h2>
        </div>
        <button>
          <i class="fa-solid fa-download"></i>DOWNLOAD</button>
      </div>
    </section>

    <section class="footer">
      <img src="https://avaribeautyfranchise.com/wp-content/uploads/2022/12/Yello-Logo.png" alt="">
      <div class="social"></div>
      <div class="social">
        <a href="#" class="icon_box">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#" class="icon_box">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="#" class="icon_box">
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <a href="#" class="icon_box">
          <i class="fa-brands fa-youtube"></i>
        </a>

        <a href="#" class="icon_box">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>

      <div class="location">
        <p>
          <i class="fa-solid fa-location-dot"></i>
          175 Jansa Dr. Shoreview, MN 55126</p>
        <p>
          <i class="fa-solid fa-phone-volume"></i>
          715-352-0268</p>
        <p>
          <i class="fa-regular fa-envelope"></i>
          theavaribeauty@gmail.com</p>
      </div>
      <small>Disclaimer: This is not a franchise offering. A franchise offering can be made by us only in a state if we
        are first registered, excluded, exempted or otherwise qualified to offer franchises in that <br> state, and only if we
        provide you with an appropriate franchise disclosure document. Follow-up or individualized responses to you that
                                                                                                                                                                              involve either effecting or attempting to effect the sale of a <br> franchise will be made only if we are first in
        compliance with state registration requirements, or are covered by an applicable state exclusion or exemption.
      </small>
      <p>Copyright © 2023 The Avari Beauty. All rights reserved.</p>
    </section>


    {{ content_for_layout }}

  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
  <script>
    $(document).ready(function() {
      $(window).scroll(function() {
        if ($(this).scrollTop() > 1) {
          $('section.menu').addClass("sticky");
        } else {
          $('section.menu').removeClass("sticky");
        }
      });
    });
  </script>
  <script>
    $(document).on('click', 'a[href^="#"]', function(event) {
      event.preventDefault();

      $('html, body').animate({
        scrollTop: $($.attr(this, 'href')).offset().top
      }, 500);
    });



    const menuIcon = document.querySelector(".menu-icon");
    const center_ul = document.querySelector(".center_ul");

    menuIcon.addEventListener("click", function() {
      menuIcon.classList.toggle("active");
      center_ul.classList.toggle("center_ul_active");
    });



    const menu = document.querySelector('.menuScale');
    let lastScrollTop = 0;
    window.addEventListener('scroll', () => {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      if (scrollTop > lastScrollTop) { // scrolling down
        menu.classList.add('scrolled');
      } else { // scrolling up
        menu.classList.remove('scrolled');
      } lastScrollTop = scrollTop;
    });
  </script>

</html>